modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyBF4B-2uUD3ESpUNbXNJH2nVOvN507ZcdA"
VITE_FIREBASE_AUTH_DOMAIN = "qc-help-support.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://qc-help-support-default-rtdb.asia-southeast1.firebasedatabase.app"
VITE_FIREBASE_PROJECT_ID = "qc-help-support"
VITE_FIREBASE_STORAGE_BUCKET = "qc-help-support.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "742998021075"
VITE_FIREBASE_APP_ID = "1:742998021075:web:34f1b3f9aed22f0cfe1526"
VITE_FIREBASE_MEASUREMENT_ID = "G-S5T58FWSTB"
